{% extends params.baseLayout %}
{# @var params \ReferenceBundle\Classes\ReferenceParameters #}
{% block content_header %}
    <h1>
        {{ params.name }}
        <small>Добавление</small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="box box-info">
    </div>
    {{ form_start(form) }}
    <div class="box-body">
        {{ form_widget(form) }}
    </div>

    <div class="box-footer">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path( 'crud_factory_index', { refId : params.refId }) }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
